@font-face {
    src: url(./fonts/MinecraftXUnfinished.ttf);
    font-family: minecraft;
  }
  
  body {
    background: #0c0c0c;
    background-size: cover;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  
  
  /* HEADER */
  
  
  #Logo {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 500;
    overflow: hidden;
    transform: translate(87%, 0%);
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  
  #HText, #HLine {
    color: #fff;
    text-decoration: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 32px;
  }
  
  #Header {
    background: black;
    display: flex;
    
  }

  #Search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"]
{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 32px;
  width: 100%;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dddddd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #dddddd;
}

 ::-ms-input-placeholder { /* Microsoft Edge */
  color: #dddddd;
}
  /* MAIN */
  
  .grid-container {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: auto auto auto;
    height: 900px;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #0c0c0c;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(25, 25, 25);
    color: rgba(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .item1 {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
  
  .item2 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .item3 {
    grid-column: 3;
    grid-row: 1 / span 3;
  }
  
  .item4 {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  
  .item5 {
    grid-column: 1;
    grid-row: 9 / span 2;
  }
  
  .item6 {
    grid-column: 1 / span 3;
    grid-row: 5 / span 3;
  }
  
  .item7{
    grid-column: 1 / span 3;
    grid-row: 4;
  }
  .item8{
    grid-column: 2 / span 2;
    grid-row: 9 / span 2;
  }
  
  
  #NameAndSkin {
    font-family: minecraft;
    font-size: 40px;
  }
  
  #Guild {
    font-family: minecraft;
    font-size: 40px;
  }
  
  #DivisionTitles {
    font-family: minecraft;
    font-size: 35px;
  }
  
  #guildInfo {
    font-size: 45px;
    color: #FFFFFF;
  }
  
  #specialTitles {
    color: #FFFFFF;
    font-family: "Courier New", monospace;
    font-size: 18px;
    text-align: center;
    overflow: auto;
  }
  
  #GamemodeStats {
    color: #FFFFFF;
    font-family: "Courier New", monospace;
    font-size: 16px;
  }
  
  #OverallStats {
    color: #FFFFFF;
    font-family: "Courier New", monospace;
    font-size: 18.5px;
  }
  
  #PreviousNames {
    color: #FFFFFF;
    font-family: "Courier New", monospace;
    font-size: 18.5px;
    overflow-wrap: break-word;
    min-width: 0;
  }
  
  #PieChart {
    color: #FFFFFF;
    font-family: "Courier New", monospace;
  }

.button-49,
.button-49:after {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'SORT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}